Screen {
    background: white;
    color: black;
}

#app-grid {
    layout: grid;
    grid-size: 2 3;
}

.center-text {
    text-align: center;
}

.horizontal-box {
    height: 100%;
    width: 14.25%;
    border: solid green;
}

.box-two-row {
    height: 100%;
    border: solid green;
    row-span: 2;
}

.box-two-col {
    height: 100%;
    border: solid green;
    column-span: 2;
}
