Screen {
    background: white;
    color: black;
}

#app-grid {
    layout: grid;
    grid-size: 2 3;
}

#two-row {
    row-span: 2;
}

#two-row-im {
    row-span: 2;
}

#two-column {
    column-span: 2;
}

.box-two-row {
    height: 100%;
    border: solid green;
    row-span: 2;
}

.box-two-col {
    height: 100%;
    border: solid green;
    column-span: 2;
}
